{% load static %}

<div x-data="{% include 'all_in_one/partials/scripts.html' %}" x-ref="component">

{% if item %}
    <form x-ref="editForm" @submit.prevent="editItem({{ item.id }})" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
{% else %}
    <form  method="post" x-ref="editForm" @submit.prevent="postItem()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
{% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

</div>