{
    csrfToken: '{{ csrf_token }}',
    url: '{% url 'djit_ripd:all_in_one' item_name %}',
    postItem() {
        const form = this.$refs.editForm;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        console.log(JSON.stringify(data));
      fetch(this.url, {
          method: 'POST',
          headers: {
              'X-CSRFToken': this.csrfToken,
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
      }).then(response => {
          if (response.ok) {
              console.log('Item created successfully');
              form.reset();
          } else {
              alert('Something went wrong');
          }
      });
    },

    editItem(id) {
        const form = this.$refs.editForm;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        fetch(`${this.url}${id}`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': this.csrfToken,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        }).then(response => {
            if (response.ok) {
                console.log('Item updated successfully');
                form.reset();
                window.location.href = this.url;
            } else {
                alert('Something went wrong');
            }
        });
    },

    deleteItem(id) {
      fetch(`${this.url}${id}`, {
        method: 'DELETE',
        headers: {
          'X-CSRFToken': this.csrfToken,
          'Content-Type': 'application/json'
        },
      }).then(response => {
        if (response.ok) {
            window.location.href = this.url;
        } else {
          alert('Something went wrong');
        }
      });
    }

}