{% extends "djit_theme/base.html" %}

{% load static %}

{% block head %}
    {% with app_name|add:'/css/style.css' as static_path %}
        <link rel="stylesheet" type="text/css" href="{% static static_path %}">
    {% endwith %}
{% endblock  %}

{% block content %}
    <h1>{{ item_name|title }}</h1>


    <div class="w-full max-w-xs">
    <form id="editForm" @submit.prevent="editItem" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        {% if id %}
        <input type="hidden" name="itemId" id="itemId" value="{{ id }}">
        {% endif %}

        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </div>

    <h2>{{ item_name|title }} List</h2>

    <ul>
        {% for item in items %}
            <li x-data>
                {{ item }} 
                [<a href="{% url 'djit_ripd:all_in_one_id' item_name item.id %}">Edit</a>] 
                [<a href="#" @click.prevent="deleteItem('{% url 'djit_ripd:all_in_one_id' item_name item.id %}')">Delete</a>]
            </li>
        {% endfor %}
    </ul>

    <script>
        function serializeForm(formElement) {
            const formData = new FormData(formElement);
            const data = {};
            formData.forEach((value, key) => {
                if (!data.hasOwnProperty(key)) {
                    data[key] = value;
                } else if (Array.isArray(data[key])) {
                    data[key].push(value);
                } else {
                    data[key] = [data[key], value];
                }
            });
            return data;
        }

        function editItem(id, url) {
            const form = document.getElementById('editForm');
            const itemIdInput = document.getElementById('itemId');

            const data = serializeForm(form);
            const isUpdate = itemIdInput !== '';
    
            if (isUpdate) {
                data.id = itemIdInput.value;
            }
            fetch(url, {
                method: isUpdate ? 'PUT' : 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            }).then(response => {
                if (response.ok) {
                    console.log(isUpdate ? 'Item updated successfully' : 'Item created successfully');
                    form.reset();
                    location.reload();
                } else {
                    alert('Something went wrong');
                }
            });
        }

        function deleteItem(url) {
          fetch(url, {
            method: 'DELETE',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}',
              'Content-Type': 'application/json'
            },
          }).then(response => {
            if (response.ok) {
              location.reload();
            } else {
              alert('Something went wrong');
            }
          });
        }
      </script>

{% endblock %}