{% extends "djit_theme/base.html" %}

{% load static %}

{% block head %}
    {% with app_name|add:'/css/style.css' as static_path %}
        <link rel="stylesheet" type="text/css" href="{% static static_path %}">
    {% endwith %}
{% endblock  %}

{% block content %}

    <h1>{{ item_name|title }}</h1>

    <div class="w-full max-w-xs">
        {% include "all_in_one/partials/form.html" %}
    </div>

    <h2>{{ item_name|title }} List</h2>

    <div class="w-full max-w-xs">
        {% include "all_in_one/partials/list.html" %}
    </div>

    {% include "all_in_one/partials/scripts.html" %}


{% endblock %}